
:root  {
/* 
    --main-bg-color: linear-gradient(180deg, #93278F -48.02%, 
                                    #91278F 55.19%, 
                                    #8A288F 92.19%, #7F2A90 117.5%, 
                                    #6E2C91 138.92%, #662D91 146.71%); */
    
    --main-font-color: #792076;
    --p-font-size: 1.8rem;
    --alter-font-color: #ffffff;

       }

* {
    box-sizing: border-box;
}
html{
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    color: var(--main-font-color);
    overflow-x: hidden;
    overflow-y: hidden;
}

.logo-img{
    padding-bottom: 24px
}

h1.name {
    padding-top: 14px;
    font-size: 5rem;
    color: var(--main-font-color);
    font-weight: 100;
}

.slogan {
    padding-top: 14px 0 14px 0;
    font-weight: 400;
    font-size: 24px;
    color: #93278F;
}

.intro {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.startButton {
    margin-left: 2%;
	border-radius:28px;
	border:2px solid var(--main-font-color);
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:17px;
	padding:16px 76px;
	text-decoration:none;
    color: var(--main-font-color);
    background-color: white;
}

.startButton:hover {
    color:  var(--alter-font-color);
    background-color:  var(--main-font-color);
}

.bg {
    /* The image used */
    background-image: url("./images/website-page-home\ 1.png");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (max-width: 600px) {
    .logo-img {
      width: 250px;
    }
  }