
:root  {
/* 
    --main-bg-color: linear-gradient(180deg, #93278F -48.02%, 
                                    #91278F 55.19%, 
                                    #8A288F 92.19%, #7F2A90 117.5%, 
                                    #6E2C91 138.92%, #662D91 146.71%); */
    
    --main-font-color: #93278F;
    --p-font-size: 1.8rem;
    --alter-font-color: #ffffff;

       }

body {

    color: var(--main-font-color);
}

h1.h1-about {

    font-weight: bold;
    font-size: 3rem;
    color: var(--alter-font-color);

}

p.p-about {
    font-size: var(--p-font-size);
    padding: 3% 2% 2% 6%;
    color:  var(--alter-font-color);

}


/* home page style */

#home {
    margin-bottom: 12%;
}

.my-container {
    max-height: 100%;
    max-width: 100%;
}


.content-col {
    padding-top: 10%;
    flex-grow: 1;
    
}


.left-upper-leaf {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;


}

.intro {

    text-align: center;
    padding: 5% 0 0;
}

.intro h1{
    font-weight: lighter;
    font-size: 5rem;
}

.intro p {
    font-weight: bold;
    font-size: var(--p-font-size);
    padding-top: 2%;
}





.right-leaf {

   position: absolute;
   right: 0;
   top: 10%;
   height: 110%;
   width: 70%;
}




.logo-img {
    margin-bottom: 5%;
    width: 50%;
    height: 50%;
}



.button {

    text-align: center;
    padding-top: 3%;

}

.btn {
    margin-left: 2%;

	border-radius:28px;
	border:2px solid var(--main-font-color);
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:17px;
	padding:16px 76px;
	text-decoration:none;
    color: var(--main-font-color);
}

.btn:hover {

    color:  var(--alter-font-color);
    background-color:  var(--main-font-color);
}


/* ************************************************************************************** */

#about {
    position: relative;
    z-index: 0;
    padding: 15% 0 0;
}


.leaf {

    width: 90%;
}


.about-layer-2 {
    position: absolute;
    top: 20%;
    right: 43%;
    margin: 15% 0 15% 30%;
    color:  var(--alter-font-color);
    width: 40%;
    height: fit-content;
    z-index: 1;
   
} 




.layer2-img {
    position: absolute;
    left: 40%; 
    top: 8%;
    width: 50%;
    height: 47%;
    z-index: 1;

}

/***************************************************************************/

#about-2 {
    position: relative;
    background-color:  var(--alter-font-color);
    height: max-content;
    margin: 0 0 42%
}



.layer-3-leaf {
    position: absolute;
    background-color: var(--alter-font-color);
    top: -120%;
    width: 100%;
    z-index: 1;

}

.layer-3-content {
    position: relative;
    left: 10%;
    top: 10%;
    height: fit-content;
    width: 35%;
    color:  var(--alter-font-color);
    z-index: 2;

}



.one-to-one-front {
    position: absolute;
    right: 0%;
    top: 40%;
    bottom: 0%;
    z-index: 2;
    width: 60%;
}


/* ****************************************************************************** */


#about-3{
    position: relative;
    margin: 20%, 0;
    padding: 20%, 0;
}

.layer-4 {
    position: relative;
    z-index: 1;

}

.pc {
    position: relative;
    left: 18%;
    padding-top: 7%;
    width: 30%;



}

.phone {
    position: relative;
    left: 20%;
    width: 30%;

}

.layer-4-content {
    position: relative;
    left: 40%;
    margin-top: 5%;
    width: 40%;

}


.layer-4-leaf {

    width: 100%;
    position: absolute;
    top: 10%;
    bottom: 0;
    z-index: 0;
}


